<h2>Edit Restaurant</h2>

<form method="post" action="/stores/<%= @store.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group">
        <label>Restaurant Number: </label>
            <input type="text" class="form-control" name="store[store_number]" value="<%= @store.store_number %>" required>
    </div>
    <div class="form-group">
        <label>Restaurant Name: </label>
            <input type="text" class="form-control" name="store[name]" value="<%= @store.name %>"required>
    </div>
    <div class="form-group">
        <label>Restaurant Email: </label>
            <input type="text" class="form-control" name="store[email]" value="<%= @store.email %>"required>
    </div>

    <button type="submit" class="btn btn-dark">Submit Changes</button>
</form>