<h2>Current list of Restaurants</h2>
<div class="container">
    <% if !@stores.empty?%>
        <% @stores.each do |s| %>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <p class="card-title"><a href='/stores/<%= s.id %>'><%= s.store_number %></a></p>
                    <p class="card-text"><%= s.name %> Email: <%= s.email %></p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
<br>
<a href="/stores/new">Add Restaurant</a>
<a href="/workorders">Work Orders</a>

