<h2>Add New Store</h2>

<form method="post" action="/stores">
    <label>Restaurant Number: </label>
        <input type="text" name="store[store_number]" required><br>
    <label>Restaurant Name: </label>
        <input type="text" name="store[name]" required><br>
    <label>Restaurant Email: </label>
        <input type="text" name="store[email]" required><br>

    <input type="submit" value="Submit">
</form>