a {text-decoration: none;
    color: white}

a:hover {text-decoration: none}

.my-link {color: black}

body {
    padding: 10%;
}

.my-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

.my-alert {
    color: red;
    font-style: italic;
}