<h1>Register as a New User below:</h1>
<form method="post" action="/signup">
<label>Username:</label>
    <input type="text" name="user[username]" id="username" required><br>
<label>Email:</label>
    <input type="text" name="user[email]" id="user_email" required><br>
<label>Position:</label>
    <input type="text" name="user[position]" id="user_position" required><br>
<label>Password:</label>
    <input type="password" name="user[password]" id="user_password" required><br>
<input type="submit" value="Sign Up">
</form>