<h1>Enter New Work Order:</h1>
<form action="/workorders" method="post">
    <div class="form-group">
        <label>Restaurant Number: </label>
            <select name='workorder[store_number]' class="form-control" required>
                <% @stores.each do |s| %>
                    <option value='<%= s.store_number %>'><%= s.store_number %></option>
                <% end %>
            </select>
    </div>
    <div class="form-group">
        <label>Issue: </label><br>
            <textarea name='workorder[issue]' class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Enter Work Order</button>
</form>
