<h1>Enter New Work Order:</h1>
<form action="/workorders" method="post">
    <label>Restaurant Number: </label>
        <input type="text" name='workorder[store_number]'required><br>
    <label>Issue: </label><br>
        <textarea name='workorder[issue]' rows="10" columns="100" required></textarea><br>
    <input type="submit" value="Enter Work Order">
</form>

