<h1>Enter New Work Order:</h1>
<form action=" " method="post">
    <label>Restaurant Number: </label><input type="text" name=work_order[store_number]><br>
    <label>Date: </label><input type="date" name=work_order[date]><br>
    <label>Time: </label><input type="time" name=work_order[time]><br>
    <label>Issue: </label><textarea name=work_order[issue] rows="10" columns="100"></textarea><br>
    <input type="submit" value="Enter Work Order">
</form>

