<div class="jumbotron">
  <h1 class="display-4 d-flex justify-content-center" >QSR Work Order Tracking</h1>
  <p class="lead d-flex justify-content-center">Easily Create, Edit, Update and Track Restaurant Work Orders</p>
</div>