<!doctype html>
<html>
  <head>
    <title>Work Order</title>
    <link rel="stylesheet" href="./stylesheets/mycss.css">

  </head>
  <body>

    <div class="container">
      <h1>Work Order Manager</h1> 
      <% if !session[:user_id] %>
        <a href="/">Login</a>
      <% else %>
        <a href="/logout">Logout</a>
      <% end %>
      <%=yield%>
    </div>

  </body>
</html>
